<html>
    <body>
        {% for post in posts %}
          <div>
              <p>published: {{ post.published_date }}</p>
              <h2><a href="">{{ post.title }}</a></h2>
              <p>{{ post.text }}</p>
          </div>
        {% endfor %}
    </body>
</html>
